Trakx.xcodeproj/project.xcworkspace/xcuserdata/mattcroxson.xcuserdatad/UserInterfaceState.xcuserstate
Trakx.xcodeproj/xcuserdata/mattcroxson.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Trakx.xcodeproj/xcuserdata/mattcroxson.xcuserdatad/xcschemes/Trakx.xcscheme
Trakx.xcodeproj/xcuserdata/mattcroxson.xcuserdatad/xcschemes/xcschememanagement.plist
Trakx.xcworkspace/contents.xcworkspacedata
Trakx.xcworkspace/xcuserdata/mattcroxson.xcuserdatad/UserInterfaceState.xcuserstate
Trakx.xcworkspace/xcuserdata/mattcroxson.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Trakx/APIKeys.plist
\.DS_Store
